      <!-- service section -->


       <!-- service section -->
        <section id="service" class="wow fadeIn">
            <div class="container">
                <!-- section title -->
                <div class="row padding-thirteen no-padding-lr no-padding-top">
                    <div class="col-md-12 col-sm-12 text-center">
                        <span class="text-uppercase title-small atl-font font-weight-600 deep-orange-text letter-spacing-2">Services We Do</span>
                    </div>
                </div>

                <div class="container">

                <div class="row">
                    <div class="col-md-12 col-sm-12 tab-style-2">
                      <!-- tab list -->
                      <ul class="nav nav-tabs alt-font text-uppercase letter-spacing-1 no-border text-center margin-fifteen no-margin-lr no-margin-bottom xs-margin-thirty-five xs-no-margin-lr xs-no-margin-bottom" role="tablist">
                          <li role="presentation" class="active xs-display-block xs-no-margin" id="service-link"><a href="#service-1" aria-controls="Banquet Hall" role="tab" data-toggle="tab" class="xs-display-block">Shoe Repair Service #1</a></li>
                          <li role="presentation" class="xs-display-block xs-no-margin"><a href="#service-2" aria-controls="Social Events" role="tab" data-toggle="tab" class="xs-display-block">Shoe Repair Service #2</a></li>
                          <li role="presentation" class="xs-display-block xs-no-margin"><a href="#service-3" aria-controls="massage" role="tab" data-toggle="tab" class="xs-display-block">Shoe Repair Service #3</a></li>
                      </ul>
                      <!-- end tab list -->

                        <div class="tab-content clearfix">
                            <!-- tab item -->
                            <div role="tabpanel" class="tab-pane fade in active" id="service-1">
                                <div class="col-md-12 col-sm-12 treatments-box position-relative">
                                    <div class="col-md-4 col-sm-6 treatments-box-img text-right xs-display-none">
                                        <img src="http://i.imgur.com/B5ye95h.png" alt="" class="position-right"/>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 treatments-box-text bg-gray ">
                                        <div class="treatments-box-text-sub padding-twenty text-center">
                                            <img src="http://i.imgur.com/kheRtPQ.jpg" alt="" class="position-relative margin-twenty-nine no-margin-top no-margin-lr round-border xs-margin-twenty-five xs-no-margin-top xs-no-margin-lr"/>
                                            <span class="alt-font text-uppercase text-large letter-spacing-1 margin-twelve no-margin-top no-margin-lr display-block dark-gray-text"><span class="title-separator-line bg-fast"></span>Shoe Repair Service #1</span>
                                            <p class="width-90 center-col">What we do with the service #1 | The best shoe repair your shoe will be like new we have done it thousand of times</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 treatments-box-img sm-display-none">
                                        <img src="http://i.imgur.com/tcrbxSJ.jpg" alt="" class="position-left"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab item -->
                            <!-- tab item -->
                             <div role="tabpanel" class="tab-pane fade" id="service-2">
                                <div class="col-md-12 col-sm-12 treatments-box position-relative">
                                    <div class="col-md-4 col-sm-6 treatments-box-img text-right xs-display-none">
                                        <img src="http://i.imgur.com/vVRkOZ2.jpg" alt="" class="position-right"/>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 treatments-box-text bg-gray ">
                                        <div class="treatments-box-text-sub padding-twenty text-center">

                                            <img src="http://i.imgur.com/lGjt8U4.png" class="position-relative margin-twenty-nine no-margin-top no-margin-lr round-border xs-margin-twenty-five xs-no-margin-top xs-no-margin-lr"/>
                                            <span class="alt-font text-uppercase text-large letter-spacing-1 margin-twelve no-margin-top no-margin-lr display-block dark-gray-text"><span class="title-separator-line bg-fast"></span>Shoe Repair Service #2</span>
                                            <p class="width-90 center-col">What we do with the service #2</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 treatments-box-img sm-display-none">

                                        <img src="http://i.imgur.com/n21CbbC.png" class="position-left"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab item -->
                            <!-- tab item -->
                            <div role="tabpanel" class="tab-pane fade" id="service-3">
                               <div class="col-md-12 col-sm-12 treatments-box position-relative">
                                   <div class="col-md-4 col-sm-6 treatments-box-img text-right xs-display-none">
                                       <img src="http://i.imgur.com/fcWQ2D5.jpg" alt="" class="position-right"/>
                                   </div>
                                   <div class="col-md-4 col-sm-6 col-xs-12 treatments-box-text bg-gray ">
                                       <div class="treatments-box-text-sub padding-twenty text-center">

                                           <img src="http://i.imgur.com/XF2YERq.jpg" class="position-relative margin-twenty-nine no-margin-top no-margin-lr round-border xs-margin-twenty-five xs-no-margin-top xs-no-margin-lr"/>
                                           <span class="alt-font text-uppercase text-large letter-spacing-1 margin-twelve no-margin-top no-margin-lr display-block dark-gray-text"><span class="title-separator-line bg-fast"></span>Shoe Repair Service #3</span>
                                           <p class="width-90 center-col">What we do with the service #3</p>
                                       </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 treatments-box-img sm-display-none">

                                       <img src="http://i.imgur.com/1kXIGEa.jpg" class="position-left"/>
                                   </div>
                               </div>
                           </div>

                            <!-- end tab item -->
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- end service section -->

        <!-- Pricing -->

        <!-- Pricing goes in 3 sections Men , Women and Christian Louboutin-Ladies  -->
        <section id="pricing" class="border-top masonry work-3col gutter-wide wow fadeIn">
          <div class="container">
              <div class="row" id="pricing">
                <div class="col-md-12 col-sm-12 text-center">
                  <span class="text-uppercase title-small alt-font font-weight-600 rail letter-spacing-2">Pricing</span>
                </div>
                <div class="col-md-12 col-sm-12 tab-style-2">
                  <ul class="nav nav-tabs alt-font text-uppercase letter-spacing-1 no-border text-center margin-fifteen no-margin-lr no-margin-bottom xs-margin-one xs-no-margin-lr xs-no-margin-bottom" role="tablist">
                      <li role="presentation" class="active xs-display-block xs-no-margin" id="pricing-link"><a href="#pricing-men" aria-controls="Banquet Hall" role="tab" data-toggle="tab" class="xs-display-block">Men</a></li>
                      <li role="presentation" class="xs-display-block xs-no-margin"><a href="#pricing-women" aria-controls="Social Events" role="tab" data-toggle="tab" class="xs-display-block">Women</a></li>
                      <li role="presentation" class="xs-display-block xs-no-margin"><a href="#pricing-christian" aria-controls="massage" role="tab" data-toggle="tab" class="xs-display-block">Christian Louboutin-Ladies</a></li>
                  </ul>
                  <div class="tab-content clearfix">
                      <!-- tab men -->
                      <div role="tabpanel" class="tab-pane fade in active pricing-men" id="pricing-men">
                        <div class="col-md-12 col-sm-12 treatments-box position-relative black">
                          <ul class="heels">

                            <li><b>Heels:</b></li>
                            <li>Heels plates: <b>$5.00</b></li>
                            <li>Heels rubber: <b>$28.50 </b></li>
                            <li>Heels base stack leather: <b>$65.00</b></li>
                            <li>Heels combination: <b>$38.50</b></li>
                            <!-- <li>Reinforce heels:$</li> -->
                            <!-- <li>Recover heels:$</li> -->
                            <li>New base stack leather: <b>$65.00</b></li>
                            <!-- <li>Bracing:$</li> -->
                            <li>Heels Elevation: <b>$38.5 - $85.00</b></li>
                          </ul>
                            <br>
                          <ul class="toes">

                            <li><b>Toes:</b></li>
                            <li>Toes plate: <b>$5</b></li>
                            <li>Leather tips: <b>$22</b></li>
                            <li>Rubber tips: <b>$20</b></li>
                          </ul>
                            <br>
                          <ul class="cowboy-boots">

                            <li><b>Cowboy boots:</b></li>
                            <li>1/2 sole leather: <b>$58.50</b></li>
                            <li>1/2 sole leather, heels & clean: <b>$95.00</b></li>
                            <li>1/2 sole leather, heels, clean & new welting: <b>$115.00</b></li>
                            <li>Full leather soles, heels, clean & new welting: <b>$135.00</b></li>

                          </ul>
                          <br>
                          <ul class="sole-protectors">


                            <li><b>Soles:</b></li>
                            <li>1/2 leather soles & clean: <b>$48.50</b></li>
                            <li>1/2 leather soles, heels & clean: <b>$75.00 and up.</b></li>
                            <li>Full leather soles & heels:<b>$95.00</b></li>
                            <li>Full leather soles, heels, clean & new welting:<b>$135.00</b></li>
                            <!-- <li>1/1 soles topy proctector: $</li>
                            <li>1/2 soles topy proctector: $</li>
                            <li>1/2 gum crinkle soles: $</li>
                            <li>1/2 soles vibram proctector: $</li>
                            <li>1/2 fine line rubber: $</li>
                            <li>1/2 soles vibram proctector: $</li> -->
                          </ul>

                          <!-- <ul class="shine-cleaning-refinishing">
                            <li>Shine shoes: $</li>
                            <li>Shine boots: $</li>
                            <li>Shine boots(more than 1 color): $</li>
                            <li>Suede shoes clean and shampoo: $</li>
                            <li>Suede boots clean and shampoo: $</li>
                            <li>Refinish shoes: $</li>
                            <li>Refinish soles and adding color: $</li>
                          </ul> -->
                        </div>
                      </div>

                      <!--tab women-->
                      <div role="tabpanel" class="tab-pane fade pricing-women" id="pricing-women">
                        <div class="col-md-12 col-sm-12 treatments-box position-relative black">
                          <ul class="heels">
                            <li>Heels plates: <b>$5.00</b></li>
                            <li>Heels rubber: <b>$10.00 - $20.00</b></li>
                            <li>Heels leather: <b>$15.00 - $22.00</b></li>
                            <li>Heels combination: <b>$24.00</b></li>
                            <li>Heels cut: <b>$16.50 - $24.50</b></li>
                            <li>Reinforce heels: <b>$5.00</b></li>
                            <li>Recover heels: <b>$45.00 - $80.00</b></li>
                            <!-- <li>New base stack leather: <b>$</b></li> -->
                            <!-- <li>Bracing: <b>$</b></li> -->
                          </ul>

                          <ul class="toes">
                            <li>Toes plate: <b>$5.00</b></li>
                            <li>Leather tips: <b>$18.00</b></li>
                            <li>Rubber tips: <b>$16.00</b></li>
                          </ul>

                          <ul class="cowboy-boots soles leathers">
                            <li>1/2 leather soles: <b>$38.50</b></li>
                            <li>1/2 leather soles, heels and clean: <b>$58.50</b></li>
                            <li>Full leather soles: <b>$75.00</b></li>
                            <li>Full leather soles plus mid sole-welting: <b>$105.00</b></li>
                            <li>Full leather soles, heels and stiched: <b>$105.00</b></li>
                            <li>Full leather soles, heels and new welting: <b>$185.00</b></li>
                          </ul>

                          <!-- <ul class="sole-protectors">
                            <li>1/1 soles topy proctector: <b>$</b></li>
                            <li>1/2 soles topy proctector: <b>$</b></li>
                            <li>1/2 gum crinkle soles: <b>$</b></li>
                            <li>1/2 soles vibram proctector: <b>$</b></li>
                            <li>1/2 fine line rubber: <b>$</b></li>
                            <li>1/2 soles vibram proctector: <b>$</b></li>
                          </ul> -->

                          <!-- <ul class="shine-cleaning-refinishing">
                            <li>Shine shoes: <b>$</b></li>
                            <li>Shine boots: <b>$</b></li>
                            <li>Shine boots(more than 1 color): <b>$</b></li>
                            <li>Suede shoes clean and shampoo: <b>$</b></li>
                            <li>Suede boots clean and shampoo: <b>$</b></li>
                            <li>Refinish shoes: $</li>
                            <li>Refinish soles and adding color: <b>$</b></li>
                          </ul> -->

                          <!-- <ul class="bags">
                            <li>Refinish bags: <b>$</b></li>
                            <li>Suede cleaning bags: <b>$</b></li>
                          </ul> -->
                        </div>
                      </div>

                      <!--tab cristian-->
                      <div role="tabpanel" class="tab-pane fade pricing-christian" id="pricing-christian">
                        <div class="col-md-12 col-sm-12 treatments-box position-relative black">
                          <ul class="heels">
                            <li>Heels plates: <b>$10</b></li>
                            <li>Heels rubber: <b>$100</b></li>
                            <li>Heels leather: <b>$</b></li>
                            <li>Heels combination: <b>$</b></li>
                            <li>Reinforce heels: <b>$</b></li>
                            <li>Recover heels: <b>$</b></li>
                            <li>New base stack leather: <b>$</b></li>
                            <li>Bracing:<b>$</b></li>
                          </ul>

                          <ul class="toes">
                            <li>Toes plate: <b>$</b></li>
                            <li>Leather tips: <b>$</b></li>
                            <li>Rubber tips: <b>$</b></li>
                          </ul>

                          <ul class="cowboy-boots">
                            <li>1/2 leather soles: <b>$</b></li>
                            <li>1/2 leather soles, heels and clean: <b>$</b></li>
                            <li>1/2 leather soles, heels, clean and new welting: <b>$</b></li>
                          </ul>

                          <ul class="sole-protectors">
                            <li>1/1 soles topy proctector: <b>$</b></li>
                            <li>1/2 soles topy proctector: <b>$</b></li>
                            <li>1/2 gum crinkle soles: <b>$</b></li>
                            <li>1/2 soles vibram proctector: <b>$</b></li>
                            <li>1/2 fine line rubber: <b>$</b></li>
                            <li>1/2 soles vibram proctector: <b>$</b></li>
                          </ul>

                          <ul class="shine-cleaning-refinishing">
                            <li>Shine shoes: <b>$</b></li>
                            <li>Shine boots: <b>$</b></li>
                            <li>Shine boots(more than 1 color): <b>$</b></li>
                            <li>Suede shoes clean and shampoo: <b>$</b></li>
                            <li>Suede boots clean and shampoo: <b>$</b></li>
                            <li>Refinish shoes: <b>$10</b></li>
                            <li>Refinish soles and adding color: <b>$</b></li>
                          </ul>
                        </div>
                      </div>
                  </div>

                </div>
              </div>
          </div>
        </section>

        <!-- About Us section  -->
        <section id="about" class="border-top no-padding-bottom wow fadeIn">
          <div class="container">
            <div class="col-md-12 col-sm-12 text-center">
              <span class="text-uppercase title-small alt-font font-weight-600 deep-orange-text letter-spacing-2">About Us</span>
            </div>
            <div class="col-md-6 col-md-offset-3 panel-body text-center ">

              <p>
                Shoe Repair specializes in shoe and boot repair and carries a complete line of shoe care and comfort products to help you keep your footwear looking and feeling good. We maintain standards of the highest quality in craftsmanship, materials and
                merchandise. Customer satisfaction is our top priority. Visit one of our Better Shoe Repair locations in Miami, FL to keep your footwear in top condition.
              </p>
              <div class='img-arrange'>
                <img alt="Image #1" src="http://i.imgur.com/89ofVHD.jpg"/><br><br>
                <!-- <img alt="Image #2" src=""/> -->
              </div>
            </div>
          </div>
        </section>
        <!-- end about us -->

        <!-- location section -->
        <section id="location" class="border-top no-padding-bottom wow fadeIn">
          <div class="container">
              <div class="row margin-six">
                  <!-- section title -->
                  <div class="col-md-12 col-sm-12 text-center">
                      <span class="title-medium text-uppercase alt-font font-weight-600 position-relative deep-orange-text">Locations</span>
                  </div>
                  <!-- end section title -->
              </div>
              <div class="row">
                  <div class="margin-ten no-margin-lr xs-text-center clearfix">
                      <div class="col-md-12 col-sm-12 text-center">
                          <p class="width-40 center-col sm-width-70 xs-width-90 alt-font big-label">We are in several location's of Miami Dade County. You can walk in or make an appointment with at any of our 3 locations.</p>
                      </div>
                  </div>
                  <!--  Locations here -->

                  <div class="margin-nine no-margin-bottom no-margin-lr xs-text-center xs-no-margin">
                    <div class="col-md-1 col-sm-1 ">
                        <i class="icon-map-pin icon-small margin-one-half no-margin-lr"></i>
                    </div>
                    <div class="col-md-3 col-sm-3 xs-margin-nine xs-no-margin-lr xs-no-margin-top sm-no-padding-left">
                        <!-- <span class="text-uppercase alt-font black-text">Locations</span> -->
                        <ul>
                        <li><p class="text-medium">Better Shoe Repair - Doral<br>8300 West Flagler St <br>Miami, Florida 33144 in la Roma Plaza <br>Office Suite 118</p></li>
                      </ul>
                    </div>
                    <div class="col-md-1 col-sm-1 ">
                        <i class="icon-map-pin icon-small margin-one-half no-margin-lr"></i>
                    </div>
                    <div class="col-md-3 col-sm-3 xs-margin-nine xs-no-margin-lr xs-no-margin-top sm-no-padding-left">
                        <!-- <span class="text-uppercase alt-font black-text">Locations</span> -->
                        <ul>
                        <li><p class="text-medium">Better Shoe Repair - Coral Way<br>8300 West Flagler St <br>Miami, Florida 33144 in la Roma Plaza <br>Office Suite 118</p></li>
                      </ul>
                    </div>
                    <div class="col-md-1 col-sm-1 ">
                        <i class="icon-map-pin icon-small margin-one-half no-margin-lr"></i>
                    </div>
                    <div class="col-md-3 col-sm-3 xs-margin-nine xs-no-margin-lr xs-no-margin-top sm-no-padding-left">
                        <!-- <span class="text-uppercase alt-font black-text">Locations</span> -->
                        <ul>
                        <li><p class="text-medium">Better Shoe Repair - Country Walk<br>8300 West Flagler St <br>Miami, Florida 33144 in la Roma Plaza <br>Office Suite 118</p></li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
          </section>
        <!-- end location section -->

        <!-- contact section -->
        <section class="cover-background border-top" id="contact">
            <div class="container">
                <!-- section title -->
                <div class="row margin-six no-margin-top no-margin-lr">
                    <div class="col-md-12 col-sm-12 text-center">
                        <span class="text-uppercase title-small alt-font font-weight-600 deep-orange-text letter-spacing-2">contact us</span>
                    </div>
                </div>
                <!-- end section title -->
                <div class="row">
                    <!-- text -->
                    <div class="xs-text-center">
                        <div class="col-md-1 col-sm-1 margin-six no-margin-lr sm-no-margin">
                            <i class="icon-clipboard icon-small margin-one-half no-margin-lr"></i>
                        </div>
                        <div class="col-md-4 col-sm-3 margin-four no-margin-lr sm-no-margin xs-margin-nine">
                            <span class="text-uppercase alt-font black-text">General Enquiries and Appointments</span>
                            <p class="text-medium">Office: 305-554-5454 <br>Cell: 786-970-4534 <br>Fax: 305-554-5499</p>
                            <p class="text-medium"><a class="gray-text" href="mailto:bettershoes7@gmail.com">Email: bettershoes7@gmail.com</a></p>
                        </div>
                        <div class="col-md-1 col-sm-3 margin-four no-margin-lr sm-no-margin xs-margin-nine">
                            <i class="icon-phone  icon-small margin-one-half no-margin-lr"></i>
                        </div>
                        <div class="col-md-5 col-sm-3 margin-four no-margin-lr sm-no-margin xs-margin-nine">
                            <span class="text-uppercase alt-font black-text">Schedule</span>
                            <p class="text-medium">Tuesday to Friday from 2 PM to 7 PM <br>Saturdays  from 10 AM to 6 PM <br>Sundays and Mondays we are closed</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact section -->

        <!-- scroll to top -->
        <!-- <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a> -->
