<!-- Who are we section  -->

  <div class="section1 container panel panel-default">
    <div class="col-md-6 col-md-offset-3 panel-body">
      <h1>Who we are?</h1>
      <p>
        Shoe Repair specializes in shoe and boot repair and carries a complete line of shoe care and comfort products to help you keep your footwear looking and feeling good. We maintain standards of the highest quality in craftsmanship, materials and
        merchandise. Customer satisfaction is our top priority. Visit one of the our Name of Shoe Repair locations in Miami and Fort Lauderdale FL to keep your footwear in top condition.
      </p>
      <div class='img-arrange'>
        <img alt="Image #1" src="http://i.imgur.com/89ofVHD.jpg"/><br><br>
        <img alt="Image #2" src="http://i.imgur.com/Gq7F7XX.jpg"/>
      </div>
    </div>
  </div>
  <!-- Service we do  -->
  <div class="section2 container panel panel-default">
    <div class="col-md-6 col-md-offset-3 panel-body">
      <h1>Service's we do</h1>
      <p>
        Because we love what we do when it comes to fix shoes.
      </p>
      <img alt="Image of service #1" src=""/>
      <img alt="Image of service #2" src=""/>
      <img alt="Image of service #3" src=""/>
    </div>
  </div>

<!-- About US  -->
    <div class="section3 container panel panel-default">
      <div class="col-md-6 col-md-offset-3 panel-body">
        <h1>About us</h1>
        <p>
          Shoe Repair Inc has been in business since 1946 and is a shoe repair and findings company with many locations throughout the Metropolitan Miami Area. The main office, plant and warehouse share the same building with the plant containing specialized equipment used to repair items that cannot be repaired at any of the outside locations.
Coming to work in 1964 for the company, David Stern is the son of the original owners, Hector and Sean Garcia, and has been actively involved in the company since his graduation from college with a degree in business administration.
Today, with a total of some 35 employees, we are operating over 20 shoe repair locations in the greater Miami, FL area including such major shopping malls as  Aventura Mall. In addition, we are operating four shoe shine stands in the House of Representatives Office Buildings.
Shoe Repair Inc. continues to maintain standards of the highest quality in the repair of shoes, material used, related shoe repair merchandise and in the fulfillment of expectations of a very satisfied customer, be it shoe shines or shoe repairs.
        </p>
      </div>
    </div>
<!-- Link Images  -->
  <div class="section4 container panel panel-default">
    <div class="col-md-6 col-md-offset-3 panel-body">
      <h1>Links for our images</h1>
      <% @images.each do |link|  %>
      <%= image_tag(link.link) %>
        <% end %>
    </div>
  </div>
<!-- Map Info Locations  -->
  <div class="section5 container panel panel-default">
    <div class="col-md-6 col-md-offset-3 panel-body">
      <h1>Locations</h1>
      <li>Miami, FL</li>
      <li>Fort Lauderdale, FL</li>
    </div>
  </div>

  <!-- Information address, phone, email  -->
    <div class="section6 container panel panel-default">
      <div class="col-md-6 col-md-offset-3 panel-body">
        <h2>Map were we at</h2>
        <p>
          <i class="glyphicon glyphicon-home">  </i> Buro Building office 2
        </p>
        <p>
          <i class="glyphicon glyphicon-tower">  </i> 1000 Biscayne Blvd, Miami, FL 33333
        </p>
        <p>
          <i class="glyphicon glyphicon-phone-alt">  </i> Call us now 1-800(9999)
        </p>
        <p>
          <i class="glyphicon glyphicon-inbox">  </i>
          <a href="mailto:info@shoerepair.com" class="color"> Mail US</a>
        </p>
      </div>
    </div>
