<!-- Service we do  -->
<div class="section1 container panel panel-default">
  <div class="col-md-6 col-md-offset-3 panel-body">
    <h1>Service's we do</h1>
    <p>
      Because we love what we do when it comes to fix shoes.
    </p>
    <img alt="Image of service #1" src="http://i.imgur.com/Gq7F7XX.jpg"/>
    <img alt="Image of service #2" src=""/>
    <img alt="Image of service #3" src=""/>
  </div>
</div>

<!-- Who are we section  -->
<div class="section2 container panel panel-default border-top">
  <div class="col-md-6 col-md-offset-3 panel-body">
    <h1>Who we are?</h1>
    <p>
      Shoe Repair specializes in shoe and boot repair and carries a complete line of shoe care and comfort products to help you keep your footwear looking and feeling good. We maintain standards of the highest quality in craftsmanship, materials and
      merchandise. Customer satisfaction is our top priority. Visit one of the our Name of Shoe Repair locations in Miami and Fort Lauderdale FL to keep your footwear in top condition.
    </p>
    <div class='img-arrange'>
      <img alt="Image #1" src="http://i.imgur.com/89ofVHD.jpg"/><br><br>
      <!-- <img alt="Image #2" src=""/> -->
    </div>
  </div>
</div>

<!-- Gallery -->
<section class="masonry work-3col gutter wow fadeIn border-top" id="gallery">
  <div class="container panel panel-default">
    <div class="row padding-thirteen no-padding-lr no-padding-top">
      <div class="col-md-6 col-md-offset-3 panel-body">
        <h1>Gallery of Work</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 grid-gallery grid-style6 overflow-hidden">
        <div class="tab-content">
          <ul class="masonry-items grid lightbox-gallery">
            <!-- gallery items -->
            <% @images.each do |link|  %>
            <li>
              <figure class="overflow-hidden">
                <div class="gallery-img bg-dark-gray">
                  <a href="#"><%= image_tag(link.link) %></a>
                </div>
              </figure>
            </li>
            <% end %>
            <!-- end gallery items -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ** end gallery ** -->

<!-- Pricing  -->
<!-- TODO Waiting for pricing content -->
<div class="section3 container panel panel-default border-top">
  <!-- border-top para colocar la linea divisora -->
  <div class="col-md-6 col-md-offset-3 panel-body">
    <h1>Pricing</h1>
    <ul>
      <p>
        Shoe Repair Inc has been in business since 1946 and is a shoe repair and findings company with many locations throughout the Metropolitan Miami Area.
      </p>
      <p>
        The main office, plant and warehouse share the same building with the plant containing specialized equipment used to repair items that cannot be repaired at any of the outside locations.
      </p>
      <p>Coming to work in 1964 for the company, David Stern is the son of the original owners, Hector and Sean Garcia, and has been actively involved in the company since his graduation from college with a degree in business administration.
      </p>
    </ul>
  </div>
</div>

<!-- Footer  -->
<!-- Map Info Locations  -->
<!-- TODO  -->
<!-- Below goes in footer -->
<!-- <div class="section5 container panel panel-default">
  <div class="col-md-6 col-md-offset-3 panel-body">
    <h1>Locations</h1>
  <li>Miami, FL</li>
  <li>Fort Lauderdale, FL</li>
</div>
</div> -->

<!-- Information address, phone, email  -->
<div class="section6 container panel panel-default border-top">
  <div class="col-md-6 col-md-offset-3 panel-body">
    <h2>Where are we?</h2>
    <p>
      <i class="glyphicon glyphicon-home"></i>
      Coral Reef Village - Coral Way
    </p>
    <p>
      <i class="glyphicon glyphicon-tower"></i>
      13738 SW 152nd street, Miami, FL, 33177
    </p>
    <p>
      <i class="glyphicon glyphicon-phone-alt"></i>
      <a class="color" href="tel:13052513703">Call us now (305) 251-3703</a>
    </p>
    <p>
      <i class="glyphicon glyphicon-inbox"></i>
      <a class="color" href="mailto:bettershoes7@gmail.com">
        Mail US</a>
    </p>
    <div class="col-md-12 col-sm-12 text-center location-map no-padding maps">
      <iframe
        allowfullscreen
        frameborder="0"
        height="300"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57500.97949988119!2d-80.45068369441037!3d25.743755826051718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9bf9ebdcdbb0d%3A0xc27784334d62ddb9!2sBetter+Shoe+Repair!5e0!3m2!1sen!2sus!4v1449529139974"
        style="border:0"
        width="400"></iframe>
    </div>
  </div>
</div>
