<%= link_to 'New Image', new_image_path %>
<div class="section1">
  <h1>The Shoe Repair Shop</h1>
  <li>Miami, FL</li>
  <li>Fort Lauderdale, FL</li>
  <p>
    Text of why this shoe company is gonna nail any shoe issue a person might have they will fix anything just shoot the shoe and receive it fixed.
  </p>
  <p>
    Shoe Repair specializes in shoe and boot repair and carries a complete line of shoe care and comfort products to help you keep your footwear looking and feeling good. We maintain standards of the highest quality in craftsmanship, materials and merchandise. Customer satisfaction is our top priority.
Visit one of the our Name of Shoe Repair locations in Miami and Fort Lauderdale FL to keep your footwear in top condition.
  </p>
  <img src="" alt="Image #1" />
  <img src="" alt="Image #2" />
</div>

<div class="section2">
  <h1>WHY US??</h1>
  <p>
    Because we love what we do when it comes to fix shoes.
  </p>
  <img src="" alt="Image slider #1" />
  <img src="" alt="Image slider #2" />
</div>

<div class="section3">
  <h1>About us</h1>
  <p>
    We have been doing this for a while our customer satisfaction has been amazing we enjoy what we do that why we do it so good.
  </p>
</div>
<div class="section4">
  <h1>Links for our images</h1>
  <% @images.each do |link|  %>
  <%= image_tag(link.link) %>
  <% end %>
</div>
<div class="section5">
  <h2>Map were we at</h2>
  <p>
    Address of our shop 1000 Biscayne Blvd,<br>
  </p>
  <p>
    Miami, FL 33333
  </p>
  <p>
    Call us now 1-800(9999)!!
  </p>
</div>
