<li>http://i.imgur.com/Gq7F7XX.jpg</li>
<li>http://i.imgur.com/0lrfivF.jpg</li>
<li>http://i.imgur.com/UwP8vWa.jpg</li>
<li>http://i.imgur.com/B5ArwCR.jpg</li>
<li>http://i.imgur.com/CGMsQ09.jpg</li>


<div class="row">
    <div class="col-md-12 col-sm-12 tab-style-2">
        <div class="tab-content clearfix">
            <!-- tab item -->
            <div role="tabpanel" class="tab-pane fade in active" id="banquet">
                <div class="col-md-12 col-sm-12 treatments-box position-relative">
                    <div class="col-md-4 col-sm-6 treatments-box-img text-right xs-display-none bg-gray" >
                      <div class="treatments-box-text-sub padding-twenty text-center">
                          <img src="http://i.imgur.com/CGMsQ09.jpg" alt="" class="position-relative margin-twenty-nine no-margin-top no-margin-lr round-border xs-margin-twenty-five xs-no-margin-top xs-no-margin-lr position-relative"/>
                          <span class="alt-font text-uppercase text-large letter-spacing-1 margin-twelve no-margin-top no-margin-lr display-block dark-gray-text"><!--<span class="title-separator-line bg-fast-pink">--></span></span>
                          <p class="width-90 center-col">Because when it comes to shoes we know what to d1o.</p>
                          <p>You bring it we fix it. </p>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 treatments-box-text bg-gray ">
                        <div class="treatments-box-text-sub padding-twenty text-center">
                            <img src="http://i.imgur.com/CGMsQ09.jpg" alt="" class="position-relative margin-twenty-nine no-margin-top no-margin-lr round-border xs-margin-twenty-five xs-no-margin-top xs-no-margin-lr position-relative"/>
                            <span class="alt-font text-uppercase text-large letter-spacing-1 margin-twelve no-margin-top no-margin-lr display-block dark-gray-text"><!--<span class="title-separator-line bg-fast-pink">--></span></span>
                            <p class="width-90 center-col">Because when it comes to shoes we know what to d2o.</p>
                            <p>You bring it we fix it. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 treatments-box-img sm-display-none bg-gray">
                      <div class="treatments-box-text-sub padding-twenty text-center">
                          <img src="http://i.imgur.com/CGMsQ09.jpg" alt="" class="position-relative margin-twenty-nine no-margin-top no-margin-lr round-border xs-margin-twenty-five xs-no-margin-top xs-no-margin-lr position-relative"/>
                          <span class="alt-font text-uppercase text-large letter-spacing-1 margin-twelve no-margin-top no-margin-lr display-block dark-gray-text"><!--<span class="title-separator-line bg-fast-pink">--></span></span>
                          <p class="width-90 center-col">Because when it comes to shoes we know what to d3o.</p>
                          <p>You bring it we fix it. </p>
                      </div>
                    </div>
                </div>
            </div>
            <!-- end tab item -->
        </div>
    </div>
</div>
